* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #75BBFA;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}

.container {
    background: red;
    height: 100vh;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.row {
    margin-top: 100px;
}

.timer-row {
    display: inline-flex;
}