* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #75BBFA;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 2rem;
}

.container {
    height: 100vh;
    width: 100%;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.play {
    padding: 30px;
    font-size: 10px;
}

img {
    border: 5px solid white;
    border-radius: 100px;
}

.row {
    margin-top: 100px;
}

.timer-row {
    display: inline-flex;
}

.timer-left,
.timer-right {
    margin: 50px;
}

